@mixin container{
    max-width: 1255px;
    width: 100%;
    margin: 0 auto;
    @media (max-width: 1325px) {
        max-width: 90%;
    }

}
@mixin logo{
    display: flex;
   align-items: center;
    gap: 10px;
}
@mixin mylogo{
    color: #000;
     font-family: 'Kaisei Decol', serif;font-size: 32px;
     font-weight: 400;
}
@mixin myh{
    color: #000;
font-family: Kameron;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
@mixin emailtext{
    color: #000;
    font-family: 'Karma', serif;font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
@mixin buttext{
    color: #FFF;
     font-family: 'Karma', serif;font-size: 18px;
     font-style: normal;
    font-weight: 400;
     line-height: normal;
}


