/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

header {
  height: 136px;
}
header .container {
  max-width: 1255px;
  width: 100%;
  margin: 0 auto;
  height: 136px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1325px) {
  header .container {
    max-width: 90%;
  }
}
header .container div {
  display: flex;
  align-items: center;
  gap: 10px;
}
header .container div h2 {
  color: #000;
  font-family: "Kaisei Decol", serif;
  font-size: 32px;
  font-weight: 400;
}
header .container nav {
  width: 500px;
}
@media (max-width: 1065px) {
  header .container nav {
    display: none;
  }
}
header .container nav ul {
  display: flex;
  justify-content: space-between;
}
header .container nav ul li a {
  color: #000;
  font-family: "Judson", serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
header .container nav ul li a:hover {
  border-bottom: 2px solid black;
}
header .container nav ul li .main {
  font-weight: 700;
}
header .container input {
  width: 188px;
  height: 21px;
  flex-shrink: 0;
  border-radius: 40px;
  padding: 5px 12px;
  border: none;
  outline: none;
  background: rgba(217, 217, 217, 0.5);
  cursor: pointer;
}
header .container input:hover {
  background-color: rgba(156, 155, 155, 0.5);
}
@media (max-width: 600px) {
  header .container input {
    display: none;
  }
}
header .container ::placeholder {
  color: #000000;
  font-family: "Judson", serif;
  font-size: 12px;
  font-weight: 400;
}
@media (max-width: 600px) {
  header .container .first {
    display: none;
  }
}
header .container .last {
  display: none;
}
@media (max-width: 1065px) {
  header .container .last {
    display: inline-flex;
  }
}

.s1 {
  background-image: url("../images/akhaltsikhe.jpg");
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 615px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.s1 h1 {
  color: #FFF;
  text-align: center;
  font-family: "Judson", serif;
  font-size: 70px;
  font-weight: 700;
}
@media (max-width: 465px) {
  .s1 h1 {
    font-size: 50px;
  }
}

.s2 {
  width: 100%;
}
.s2 .container {
  max-width: 1255px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 1325px) {
  .s2 .container {
    max-width: 90%;
  }
}
.s2 .container .topic {
  max-width: 950px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 98px;
}
.s2 .container .topic div {
  width: 253px;
  height: 1px;
  stroke-width: 1px;
  background-color: #000;
}
@media (max-width: 1065px) {
  .s2 .container .topic div {
    width: 200px;
  }
}
@media (max-width: 795px) {
  .s2 .container .topic div {
    width: 150px;
  }
}
@media (max-width: 606px) {
  .s2 .container .topic div {
    width: 100px;
  }
}
@media (max-width: 442px) {
  .s2 .container .topic div {
    width: 70px;
  }
}
@media (max-width: 370px) {
  .s2 .container .topic div {
    width: 50px;
  }
}
.s2 .container .topic h3 {
  color: #000;
  font-family: "Judson", serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 930px) {
  .s2 .container .topic h3 {
    font-size: 25px;
  }
}
@media (max-width: 666px) {
  .s2 .container .topic h3 {
    font-size: 20px;
  }
}
@media (max-width: 503px) {
  .s2 .container .topic h3 {
    font-size: 15px;
  }
}
@media (max-width: 442px) {
  .s2 .container .topic h3 {
    font-size: 20px;
  }
}
.s2 .container .card {
  max-width: 1062px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 102px;
  margin-bottom: 150px;
  gap: 20px;
}
@media (max-width: 1160px) {
  .s2 .container .card {
    flex-wrap: wrap;
  }
}
@media (max-width: 760px) {
  .s2 .container .card {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
}
.s2 .container .card a {
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.s2 .container .card a:hover {
  transform: scale(1.1);
  transition: 0.5s;
  box-shadow: rgba(136, 136, 143, 0.2) 0px 7px 29px 0px;
}
.s2 .container .card a img {
  width: 324px;
  height: 250px;
  display: contain;
}
.s2 .container .card a h3 {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 10px 20px;
}

.s3 {
  width: 100%;
  background-color: #273A47;
}
.s3 .s2b {
  width: 100%;
  background-image: url("../images/download (1).png");
  background-repeat: repeat;
  height: 578px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.s3 .s2b div {
  width: 400px;
  height: 255px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 495px) {
  .s3 .s2b div {
    height: 150px;
  }
}
.s3 .s2b div h5 {
  color: #FFF;
  text-align: center;
  font-family: Judson sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media (max-width: 495px) {
  .s3 .s2b div h5 {
    font-size: 22px;
  }
}
.s3 .s2b div .quiz {
  width: 241.446px;
  height: 60px;
  width: 175px;
  background-color: #273A47;
  border: white;
  height: 40px;
  flex-shrink: 0;
  color: #FFF;
  font-family: Jomolhari;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.s3 .s2b div .quiz:hover {
  cursor: pointer;
}
.s3 .container {
  max-width: 1255px;
  width: 100%;
  margin: 0 auto;
  height: 333px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1325px) {
  .s3 .container {
    max-width: 90%;
  }
}
.s3 .container div {
  height: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 885px) {
  .s3 .container div {
    height: 150px;
  }
}
@media (max-width: 630px) {
  .s3 .container div {
    height: 175px;
  }
}
@media (max-width: 505px) {
  .s3 .container div {
    height: 190px;
  }
}
@media (max-width: 445px) {
  .s3 .container div {
    height: 210px;
  }
}
@media (max-width: 400px) {
  .s3 .container div {
    height: 240px;
  }
}
.s3 .container div p {
  max-width: 1140px;
  height: 45px;
  flex-shrink: 0;
  color: #FFF;
  text-align: center;
  font-family: Karma sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.s3 .container div .h {
  max-width: 562px;
  display: flex;
  justify-content: end;
}
.s3 .container div .h h6 {
  color: #FFF;
  font-family: Karma sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

footer {
  max-width: 100%;
  flex-shrink: 0;
  background-color: #E4E4E4;
  padding: 35px 40px 24px;
}
footer .container {
  display: flex;
  justify-content: space-between;
  max-width: 1255px;
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
}
@media (max-width: 1325px) {
  footer .container {
    max-width: 90%;
  }
}
@media (max-width: 1010px) {
  footer .container {
    justify-content: flex-start;
    flex-direction: column;
    gap: 60px;
  }
}
footer .container a img {
  width: 150px;
  height: 60px;
}
footer .container a img:hover {
  transform: scale(1.1);
}
footer .container h4 {
  color: #000;
  font-family: Kameron;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 13px;
  margin-bottom: 27px;
}
footer .container nav li {
  margin-top: 17px;
}
footer .container nav li a {
  color: #020202;
  font-family: "Judson", serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
footer .container nav li a:hover {
  color: #4d4a4a;
  transition: 0.3s;
}
footer .container h5 {
  color: #020202;
  font-family: "Judson", serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
footer .container .fdiv1 {
  max-width: 500px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 500px) {
  footer .container .fdiv1 {
    flex-direction: column;
    gap: 20px;
  }
}
footer .container .fdiv1 .help h5 {
  color: #000;
  font-family: "Lora", serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 5px;
}
footer .container .fdiv1 .help div {
  max-width: 173px;
  height: 1px;
  background-color: #000;
  margin-bottom: 17px;
}
footer .container .fdiv1 .help li {
  color: #000;
  font-family: "Kameron", serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 17px;
  margin-bottom: 17px;
  cursor: pointer;
}
footer .container .contact h5 {
  color: #000;
  font-family: "Lora", serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 5px;
}
footer .container .contact div {
  width: 173px;
  height: 1px;
  background-color: #000;
  margin-bottom: 17px;
}
footer .container .contact li {
  color: #000;
  font-family: "Kameron", serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 17px;
  margin-bottom: 17px;
  cursor: pointer;
}
footer .container .icd {
  width: 142px;
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
@media (max-width: 1112px) {
  footer .container .icd {
    margin-top: 40px;
  }
}
footer .inputd {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height: 100px;
}
footer .inputd .divin {
  width: 500px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
footer .inputd .divin label {
  color: #000;
  font-family: Karla;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 11px;
}
footer .inputd .divin div {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  width: 100%;
}
@media (max-width: 580px) {
  footer .inputd .divin div {
    flex-direction: column;
    gap: 10px;
  }
}
footer .inputd .divin div input[type=email] {
  width: 339px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 12px;
  border: 1px solid #000;
  background: #FFF;
  padding: 11px;
  color: #000;
  font-family: "Karma", serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 460px) {
  footer .inputd .divin div input[type=email] {
    width: 300px;
    padding: 7px;
  }
}
@media (max-width: 420px) {
  footer .inputd .divin div input[type=email] {
    width: 250px;
    padding: 7px;
  }
}
@media (max-width: 375px) {
  footer .inputd .divin div input[type=email] {
    width: 200px;
  }
}
footer .inputd .divin div input[type=submit] {
  width: 148px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 12px;
  background: #273A47;
  cursor: pointer;
  padding: 9px 17px 5px 16px;
  border: none;
  color: #FFF;
  font-family: "Karma", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
footer .inputd .divin div input[type=submit]:hover {
  background: #494a60;
  transition: 0, 9s;
}
@media (max-width: 375px) {
  footer .inputd .divin div input[type=submit] {
    width: 100px;
  }
}

.s1a {
  background-image: url("../../images/about us");
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 615px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.s1a h1 {
  color: #000000;
  text-align: center;
  font-family: "Judson", serif;
  font-size: 70px;
  font-weight: 700;
}
@media (max-width: 465px) {
  .s1a h1 {
    font-size: 50px;
  }
}

.s2a {
  width: 100%;
}
.s2a .container {
  max-width: 1255px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 1325px) {
  .s2a .container {
    max-width: 90%;
  }
}
.s2a .container .topic {
  max-width: 950px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 98px;
}
.s2a .container .topic div {
  width: 253px;
  height: 1px;
  stroke-width: 1px;
  background-color: #000;
}
@media (max-width: 1065px) {
  .s2a .container .topic div {
    width: 200px;
  }
}
@media (max-width: 795px) {
  .s2a .container .topic div {
    width: 150px;
  }
}
@media (max-width: 606px) {
  .s2a .container .topic div {
    width: 100px;
  }
}
@media (max-width: 442px) {
  .s2a .container .topic div {
    width: 70px;
  }
}
@media (max-width: 370px) {
  .s2a .container .topic div {
    width: 50px;
  }
}
.s2a .container .topic h3 {
  color: #000;
  font-family: "Judson", serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 930px) {
  .s2a .container .topic h3 {
    font-size: 25px;
  }
}
@media (max-width: 666px) {
  .s2a .container .topic h3 {
    font-size: 23px;
  }
}
@media (max-width: 503px) {
  .s2a .container .topic h3 {
    font-size: 20px;
  }
}
@media (max-width: 442px) {
  .s2a .container .topic h3 {
    font-size: 20px;
  }
}
.s2a .container .carda {
  max-width: 1062px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 102px;
  margin-bottom: 150px;
  gap: 20px;
}
@media (max-width: 1050px) {
  .s2a .container .carda {
    flex-wrap: wrap;
  }
}
@media (max-width: 845px) {
  .s2a .container .carda {
    justify-content: center;
  }
}
.s2a .container .carda .cardin {
  max-width: 370px;
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.s2a .container .carda .cardin div {
  width: 192px;
  height: 192px;
  flex-shrink: 0;
  background-color: #273A47;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
}
@media (max-width: 440px) {
  .s2a .container .carda .cardin div {
    width: 150px;
    height: 150px;
  }
}
.s2a .container .carda .cardin div h3 {
  color: #FFF;
  font-family: "Kaisei Decol", serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 440px) {
  .s2a .container .carda .cardin div h3 {
    font-size: 25px;
  }
}
.s2a .container .carda p {
  color: #000;
  text-align: center;
  font-family: "Kaisei Decol", serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 440px) {
  .s2a .container .carda p {
    font-size: 18px;
  }
}

.s3a {
  width: 100%;
  background-image: url("../../images/guide");
  object-fit: contain;
  margin-bottom: 190px;
  background-position: center;
  background-repeat: no-repeat;
}
.s3a .container {
  max-width: 1255px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 1325px) {
  .s3a .container {
    max-width: 90%;
  }
}
.s3a .container div {
  width: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  height: 523px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}
@media (max-width: 850px) {
  .s3a .container div {
    width: 70%;
  }
}
.s3a .container div h4 {
  width: 200px;
  height: 42px;
  flex-shrink: 0;
  color: #FFF;
  text-align: center;
  font-family: Kadwa;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 560px) {
  .s3a .container div h4 {
    font-size: 25px;
  }
}
@media (max-width: 435px) {
  .s3a .container div h4 {
    font-size: 20px;
  }
}
.s3a .container div p {
  max-width: 577px;
  height: 287px;
  flex-shrink: 0;
  color: #FFF;
  font-family: Kadwa;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 560px) {
  .s3a .container div p {
    font-size: 17px;
  }
}
@media (max-width: 435px) {
  .s3a .container div p {
    font-size: 14px;
  }
}

.s1g div {
  background-image: url("../../images/gallery.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 615px;
  background-size: cover;
}

.s2g {
  width: 100%;
}
.s2g .container {
  max-width: 1255px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 1325px) {
  .s2g .container {
    max-width: 90%;
  }
}
.s2g .container .topic {
  max-width: 950px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 98px;
}
.s2g .container .topic div {
  width: 253px;
  height: 1px;
  stroke-width: 1px;
  background-color: #000;
}
@media (max-width: 800px) {
  .s2g .container .topic div {
    width: 200px;
  }
}
@media (max-width: 640px) {
  .s2g .container .topic div {
    width: 180px;
  }
}
@media (max-width: 565px) {
  .s2g .container .topic div {
    width: 150px;
  }
}
@media (max-width: 460px) {
  .s2g .container .topic div {
    width: 120px;
  }
}
@media (max-width: 370px) {
  .s2g .container .topic div {
    width: 100px;
  }
}
.s2g .container .topic h3 {
  color: #000;
  font-family: "Judson", serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 800px) {
  .s2g .container .topic h3 {
    font-size: 30px;
  }
}
@media (max-width: 590px) {
  .s2g .container .topic h3 {
    font-size: 25px;
  }
}
@media (max-width: 496px) {
  .s2g .container .topic h3 {
    font-size: 20px;
  }
}
@media (max-width: 400px) {
  .s2g .container .topic h3 {
    font-size: 20px;
  }
}

.s3g {
  margin-bottom: 190px;
}
.s3g .container {
  max-width: 1255px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1325px) {
  .s3g .container {
    max-width: 90%;
  }
}
.s3g .container .card1 {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 80px;
  gap: 40px;
}
.s3g .container .card1 div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 300px;
}
.s3g .container .card1 div img {
  width: 324px;
  height: 200px;
  object-fit: cover;
}
.s3g .container .card1 div .armorial {
  width: 324px;
  height: 200px;
  object-fit: contain;
}
.s3g .container .card1 div h6 {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.s3g .container .card1 div input {
  width: 150px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #24253C;
  color: #FFF;
  font-family: "Judson", serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

.s2h {
  margin-top: 107px;
  margin-bottom: 200px;
}
.s2h .container {
  max-width: 1255px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 1325px) {
  .s2h .container {
    max-width: 90%;
  }
}
.s2h .container .start {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 118px;
  gap: 40px;
  flex-wrap: wrap;
}
.s2h .container .start .head {
  max-width: 460px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}
.s2h .container .start .head ul li a {
  color: #000;
  font-family: "Judson", serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.s2h .container .start .head ul li a:hover {
  color: #4d4a4a;
  transition: 0.3s;
}
.s2h .container .start .head h6 {
  color: #000;
  font-size: 25px;
}
.s2h .container .start .next {
  max-width: 200px;
  width: 100%;
  height: 25px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-items: center;
}
.s2h .container .start .next h3 {
  color: #000;
  font-family: "Kaisei Decol", serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.s2h .container .start .next .h2 {
  color: #929292;
  font-family: "Kaisei Decol", serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.s2h .container .start .next h2 {
  color: #000;
  font-family: "Kaisei Decol", serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.s2h .container .inf {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
}
@media (max-width: 1215px) {
  .s2h .container .inf {
    flex-direction: column-reverse;
  }
}
.s2h .container .inf img {
  width: 480px;
  height: 380px;
  margin-bottom: 40px;
}
@media (max-width: 680px) {
  .s2h .container .inf img {
    width: 380px;
    height: 280px;
  }
}
@media (max-width: 425px) {
  .s2h .container .inf img {
    width: 310px;
    height: 210px;
  }
}
.s2h .container .inf .infp1 {
  max-width: 730px;
}
.s2h .container .inf .infp1 h1 {
  color: #000;
  font-family: "Metal", serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 19px;
}
.s2h .container .inf .infp1 h3 {
  color: #000;
  font-family: "Kaisei Decol", serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 27px;
}
.s2h .container .inf .infp1 p {
  color: #000;
  font-family: "Kameron", serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 15px;
}
.s2h .container .infp2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.s2h .container .infp2 p {
  color: #000;
  font-family: "Kameron", serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 15px;
}

.s2c {
  margin-top: 107px;
  margin-bottom: 200px;
}
.s2c .container {
  max-width: 1255px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 1325px) {
  .s2c .container {
    max-width: 90%;
  }
}
.s2c .container .head {
  max-width: 300px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 118px;
}
.s2c .container .head ul li a {
  color: #000;
  font-family: "Judson", serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.s2c .container .head ul li a:hover {
  color: #4d4a4a;
  transition: 0.3s;
}
.s2c .container .head h6 {
  color: #000;
  font-size: 25px;
}
.s2c .container .inf {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
}
@media (max-width: 1215px) {
  .s2c .container .inf {
    flex-direction: column-reverse;
  }
}
.s2c .container .inf img {
  width: 480px;
  height: 380px;
  margin-bottom: 40px;
}
@media (max-width: 680px) {
  .s2c .container .inf img {
    width: 380px;
    height: 280px;
  }
}
@media (max-width: 425px) {
  .s2c .container .inf img {
    width: 310px;
    height: 210px;
  }
}
.s2c .container .inf .infp1 {
  max-width: 730px;
}
.s2c .container .inf .infp1 h1 {
  color: #000;
  font-family: "Metal", serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 19px;
}
.s2c .container .inf .infp1 h3 {
  color: #000;
  font-family: "Kaisei Decol", serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 27px;
}
.s2c .container .inf .infp1 p {
  color: #000;
  font-family: "Kameron", serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 15px;
}
.s2c .container .infp2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.s2c .container .infp2 h2 {
  color: #000;
  font-family: "Kaisei Decol", serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 27px;
}
.s2c .container .infp2 p {
  color: #000;
  font-family: "Kameron", serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 15px;
}

.s2m {
  margin-top: 107px;
  margin-bottom: 200px;
}
.s2m .container {
  max-width: 1255px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 1325px) {
  .s2m .container {
    max-width: 90%;
  }
}
.s2m .container .head {
  max-width: 400px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 118px;
  gap: 5px;
}
.s2m .container .head ul li a {
  color: #000;
  font-family: "Judson", serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.s2m .container .head ul li a:hover {
  color: #4d4a4a;
  transition: 0.3s;
}
.s2m .container .head h6 {
  color: #000;
  font-size: 25px;
}
.s2m .container .inf {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
}
@media (max-width: 1215px) {
  .s2m .container .inf {
    flex-direction: column-reverse;
  }
}
.s2m .container .inf img {
  width: 480px;
  height: 380px;
  margin-bottom: 40px;
}
@media (max-width: 680px) {
  .s2m .container .inf img {
    width: 380px;
    height: 280px;
  }
}
@media (max-width: 425px) {
  .s2m .container .inf img {
    width: 310px;
    height: 210px;
  }
}
.s2m .container .inf .infp1 {
  max-width: 730px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.s2m .container .inf .infp1 h1 {
  color: #000;
  font-family: "Metal", serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 19px;
}
@media (max-width: 425px) {
  .s2m .container .inf .infp1 h1 {
    font-size: 30px;
  }
}
.s2m .container .inf .infp1 p {
  color: #000;
  font-family: "Kameron", serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 15px;
}
.s2m .container .inf .infp1 a input {
  width: 250px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #24253C;
  flex-shrink: 0;
  color: #FFF;
  font-family: Jomolhari;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}
.s2m .container .inf .infp1 a input:hover {
  background: #494a60;
  transition: 0, 9s;
}/*# sourceMappingURL=global.css.map */