/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

header {
  height: 136px;
}
header .container {
  max-width: 1255px;
  width: 100%;
  margin: 0 auto;
  height: 136px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1325px) {
  header .container {
    max-width: 90%;
  }
}
header .container div {
  display: flex;
  align-items: center;
  gap: 10px;
}
header .container div h2 {
  color: #000;
  font-family: "Kaisei Decol", serif;
  font-size: 32px;
  font-weight: 400;
}
header .container nav {
  width: 500px;
}
@media (max-width: 1065px) {
  header .container nav {
    display: none;
  }
}
header .container nav ul {
  display: flex;
  justify-content: space-between;
}
header .container nav ul li a {
  color: #000;
  font-family: "Judson", serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
header .container nav ul li a:hover {
  border-bottom: 2px solid black;
}
header .container nav ul li .main {
  font-weight: 700;
}
header .container input {
  width: 188px;
  height: 21px;
  flex-shrink: 0;
  border-radius: 40px;
  padding: 5px 12px;
  border: none;
  outline: none;
  background: rgba(217, 217, 217, 0.5);
  cursor: pointer;
}
@media (max-width: 600px) {
  header .container input {
    display: none;
  }
}
header .container ::placeholder {
  color: #000000;
  font-family: "Judson", serif;
  font-size: 12px;
  font-weight: 400;
}
@media (max-width: 600px) {
  header .container .first {
    display: none;
  }
}
header .container .last {
  display: none;
}
@media (max-width: 1065px) {
  header .container .last {
    display: inline-flex;
  }
}

.s1 {
  background-image: url("../images/akhaltsikhe.jpg");
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 615px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.s1 h1 {
  color: #FFF;
  text-align: center;
  font-family: "Judson", serif;
  font-size: 70px;
  font-weight: 700;
}
@media (max-width: 465px) {
  .s1 h1 {
    font-size: 50px;
  }
}

.s2 {
  width: 100%;
}
.s2 .container {
  max-width: 1255px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 1325px) {
  .s2 .container {
    max-width: 90%;
  }
}
.s2 .container .topic {
  max-width: 950px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 98px;
}
.s2 .container .topic div {
  width: 253px;
  height: 1px;
  stroke-width: 1px;
  background-color: #000;
}
@media (max-width: 1065px) {
  .s2 .container .topic div {
    width: 200px;
  }
}
@media (max-width: 795px) {
  .s2 .container .topic div {
    width: 150px;
  }
}
@media (max-width: 606px) {
  .s2 .container .topic div {
    width: 100px;
  }
}
@media (max-width: 442px) {
  .s2 .container .topic div {
    width: 70px;
  }
}
@media (max-width: 370px) {
  .s2 .container .topic div {
    width: 50px;
  }
}
.s2 .container .topic h3 {
  color: #000;
  font-family: "Judson", serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 930px) {
  .s2 .container .topic h3 {
    font-size: 25px;
  }
}
@media (max-width: 666px) {
  .s2 .container .topic h3 {
    font-size: 20px;
  }
}
@media (max-width: 503px) {
  .s2 .container .topic h3 {
    font-size: 15px;
  }
}
@media (max-width: 442px) {
  .s2 .container .topic h3 {
    font-size: 14px;
  }
}
.s2 .container .card {
  max-width: 1062px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 102px;
  margin-bottom: 150px;
  gap: 20px;
}
@media (max-width: 1160px) {
  .s2 .container .card {
    flex-wrap: wrap;
  }
}
@media (max-width: 760px) {
  .s2 .container .card {
    flex-direction: column;
    align-items: center;
  }
}
.s2 .container .card div {
  height: 436px;
  display: flex;
  flex-direction: column;
}
.s2 .container .card div img {
  width: 324px;
  display: contain;
}
.s2 .container .card div h3 {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.s3 {
  width: 100%;
}
.s3 .container {
  max-width: 1255px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 1325px) {
  .s3 .container {
    max-width: 90%;
  }
}
.s3 .container .s2b {
  width: 100%;
  height: 578px;
  background-image: url("../images/download (1).png");
  background-repeat: repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.s3 .container .s2b div {
  width: 400px;
  height: 255px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.s3 .container .s2b div h5 {
  color: #FFF;
  text-align: center;
  font-family: Judson sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media (max-width: 445px) {
  .s3 .container .s2b div h5 {
    font-size: 40px;
  }
}
.s3 .container .s2b div .quiz {
  width: 241.446px;
  height: 60px;
  width: 175px;
  background-color: #273A47;
  border: white;
  height: 40px;
  flex-shrink: 0;
  color: #FFF;
  font-family: Jomolhari;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.s3 .container .s2b div .quiz:hover {
  cursor: pointer;
}
.s3 .container .col {
  height: 333px;
  background-color: #273A47;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 705px) {
  .s3 .container .col {
    justify-content: center;
    align-items: center;
  }
}
.s3 .container .col div {
  height: 110px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
@media (max-width: 1295px) {
  .s3 .container .col div {
    width: 900px;
  }
}
@media (max-width: 1030px) {
  .s3 .container .col div {
    width: 600px;
  }
}
@media (max-width: 1030px) {
  .s3 .container .col div {
    height: 150px;
  }
}
@media (max-width: 705px) {
  .s3 .container .col div {
    height: 200px;
  }
}
@media (max-width: 445px) {
  .s3 .container .col div {
    height: 300px;
    width: 300px;
  }
}
.s3 .container .col div p {
  width: 1140px;
  height: 45px;
  flex-shrink: 0;
  color: #FFF;
  text-align: center;
  font-family: Karma sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 1295px) {
  .s3 .container .col div p {
    width: 900px;
  }
}
@media (max-width: 1030px) {
  .s3 .container .col div p {
    width: 600px;
  }
}
@media (max-width: 705px) {
  .s3 .container .col div p {
    width: 400px;
  }
}
@media (max-width: 445px) {
  .s3 .container .col div p {
    width: 300px;
  }
}
.s3 .container .col div h6 {
  color: #FFF;
  font-family: Karma sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

footer {
  max-width: 100%;
  flex-shrink: 0;
  background-color: #E4E4E4;
  padding: 35px 40px 24px;
}
footer .container {
  display: flex;
  justify-content: space-between;
  max-width: 1255px;
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
}
@media (max-width: 1325px) {
  footer .container {
    max-width: 90%;
  }
}
@media (max-width: 1010px) {
  footer .container {
    justify-content: flex-start;
    flex-direction: column;
    gap: 60px;
  }
}
footer .container a img {
  width: 150px;
  height: 60px;
}
footer .container a img:hover {
  transform: scale(1.1);
}
footer .container h4 {
  color: #000;
  font-family: Kameron;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 13px;
  margin-bottom: 27px;
}
footer .container nav li {
  margin-top: 17px;
}
footer .container nav li a {
  color: #020202;
  font-family: "Judson", serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
footer .container h5 {
  color: #020202;
  font-family: "Judson", serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
footer .container .fdiv1 {
  max-width: 500px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 500px) {
  footer .container .fdiv1 {
    flex-direction: column;
    gap: 20px;
  }
}
footer .container .fdiv1 .help h5 {
  color: #000;
  font-family: "Lora", serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 5px;
}
footer .container .fdiv1 .help div {
  max-width: 173px;
  height: 1px;
  background-color: #000;
  margin-bottom: 17px;
}
footer .container .fdiv1 .help li {
  color: #000;
  font-family: "Kameron", serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 17px;
  margin-bottom: 17px;
}
footer .container .contact h5 {
  color: #000;
  font-family: "Lora", serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 5px;
}
footer .container .contact div {
  width: 173px;
  height: 1px;
  background-color: #000;
  margin-bottom: 17px;
}
footer .container .contact li {
  color: #000;
  font-family: "Kameron", serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 17px;
  margin-bottom: 17px;
}
footer .container .icd {
  width: 142px;
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
footer .container .inputd {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height: 100px;
}
footer .container .inputd .divin {
  width: 500px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
footer .container .inputd .divin label {
  color: #000;
  font-family: Karla;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 11px;
}
footer .container .inputd .divin div {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  width: 100%;
}
@media (max-width: 580px) {
  footer .container .inputd .divin div {
    flex-direction: column;
    gap: 10px;
  }
}
footer .container .inputd .divin div input[type=email] {
  width: 339px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 12px;
  border: 1px solid #000;
  background: #FFF;
  padding: 7px 122px 4px 11px;
  color: #000;
  font-family: "Karma", serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 460px) {
  footer .container .inputd .divin div input[type=email] {
    width: 300px;
    padding: 7px;
  }
}
@media (max-width: 420px) {
  footer .container .inputd .divin div input[type=email] {
    width: 250px;
    padding: 7px;
  }
}
@media (max-width: 375px) {
  footer .container .inputd .divin div input[type=email] {
    width: 200px;
  }
}
footer .container .inputd .divin div input[type=submit] {
  width: 148px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 12px;
  background: #273A47;
  cursor: pointer;
  padding: 9px 17px 5px 16px;
  border: none;
  color: #FFF;
  font-family: "Karma", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 375px) {
  footer .container .inputd .divin div input[type=submit] {
    width: 100px;
  }
}/*# sourceMappingURL=global.css.map */