.s2m{
    margin-top: 107px;
    margin-bottom: 200px;
    .container{
        @include container;
        .head{
            max-width: 400px;
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center; 
            flex-wrap: wrap;
            margin-bottom: 118px;
            gap: 5px;

            ul{
                li{
                    a{
                        color: #000;
                        font-family: 'Judson', serif;
                        font-size: 25px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        &:hover{
                            color: #4d4a4a;
                            transition: 0.3s;
                        }
                    }
                }
            }
            h6{
                    
                color: #000;
                font-size: 25px;
            }
            
    }
    .inf{
        width: 100%;
        display: flex;
       justify-content: space-between;
       align-items: flex-start;
       gap: 30px;
       @media (max-width: 1215px) {
            flex-direction: column-reverse;
       }
      
       img{
        width: 480px;
        height: 380px;
        margin-bottom: 40px;
        @media (max-width: 680px) {
            width: 380px;
            height: 280px;
        }
        @media (max-width: 425px) {
            width: 310px;
            height: 210px;
        }
       }
       .infp1{
        max-width: 730px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h1{
            color: #000;
            font-family: 'Metal', serif;
            font-size: 40px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-bottom: 19px;
            @media (max-width: 425px) {
                font-size: 30px;
            }
           }
           p{
            color: #000;
            font-family: 'Kameron', serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-bottom: 15px;

           }
           a{
            input{
                width: 250px;
                height: 30px;
                flex-shrink: 0;
                border-radius: 20px;
                background: #24253C;
                flex-shrink: 0;
                color: #FFF;
                font-family: Jomolhari;
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                cursor: pointer;
                &:hover{
                    background: #494a60;
                    transition: 0,9s;
                }
            }
           }
       }

    }
    }
}